<div class="container" ng-controller="MainCtrl">
  

<div class="row">
  <div class="col-xs-2">
    <h4>Artículos</h4>
  </div>
  <div class="col-xs-10">
    <div class="loading-indicator" ng-show="estaGuardando"> guardando... </div>
  </div>
</div>







<table st-table="articulosTable"   st-safe-src="articulos" class="table table-condensed table-hover" style="font-size:small">
  <thead>
    <tr>     
      
      <th colspan="4"><input st-search="articulo" placeholder="buscar" class="input-sm form-control" type="search"/></th>      
       <th class="text-center" colspan="3">
        <button type="button" class="btn btn-xs btn-warning" title="Refrescar" ng-click="obtenerDatos()"> 
          <i class="fa fa-refresh"></i>
        </button>
        <button type="button" class="btn btn-xs btn-default" title="Nuevo" ng-click="aniadir()"> 
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-success btn-xs " ng-click="modificar(row)" title="Guardar" style="margin-right:15px">
          <i class="fa fa-floppy-o"></i>
        </button>  
      </th>      
      
    </tr>   
    <tr>                             
      
      <th class="text-center" st-sort="articulo" >Artículo comprado</th>     
      <th class="text-center">Unid.</th>                 
      <th class="text-center" colspan="1">Alcampo</th>                 
      <th class="text-center" colspan="1">Ahorram.</th>                 
      <th class="text-center" colspan="1">Cen.Lidl</th>                 
      <th class="text-center" colspan="1">Hiperc.</th>   
      <!--              
      <th class="text-center" colspan="2">Sitio 5</th>                 
      <th class="text-center" colspan="2">Sitio 6</th>                 
      <th class="text-center" colspan="2">Sitio 7</th>                       
      -->
     
    </tr>
    <tr>
      <th colspan="2"></th>
      <!--<th class="text-center">P.T.</th>-->
      <th class="text-center">P.U.</th>      
      <!--<th class="text-center">P.T.</th>-->
      <th class="text-center">P.U.</th>      
      <!--<th class="text-center">P.T.</th>-->
      <th class="text-center">P.U.</th>      
      <!--<th class="text-center">P.T.</th>-->
      <th class="text-center">P.U.</th>
      <!--      
      <th class="text-center">P.T.</th>
      <th class="text-center">P.U.</th>      
      <th class="text-center">P.T.</th>
      <th class="text-center">P.U.</th>      
      <th class="text-center">P.T.</th>
      <th class="text-center">P.U.</th>      
      -->        

      <th colspan="8"></th>
    </tr>              
  </thead>
  <tbody ng-show="!estaCargando">
    <tr ng-repeat="row in articulosTable">                                     
      <td class="td text-left" style="width:350px;padding:0px;"><input class="input-sm form-control" type="text" ng-model="row.articulo" value="{{row.articulo}}"></td>
      <td class="text-right" style="padding:0px;width:50px"><input class="input-sm form-control text-right" type="text" ng-model="row.unidades" value="{{row.unidades}}"></td>
      <!--<td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt1" value="{{row.pt1}}"></td>  -->
      <td class="td text-right" style="padding:0px;"><input class="input-sm form-control text-right" type="text" ng-model="row.pu1" value="{{row.pu1}}"></td>                           
      <!--<td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt2" value="{{row.pt2}}"></td> -->
      <td class="td text-right" style="padding:0px;"><input class="input-sm form-control text-right" type="text" ng-model="row.pu2" value="{{row.pu2}}"></td>                           
      <!--<td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt3" value="{{row.pt3}}"></td> -->
      <td class="td text-right" style="padding:0px;"><input class="input-sm form-control text-right" type="text" ng-model="row.pu3" value="{{row.pu3}}"></td>                           
      <!--<td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt4" value="{{row.pt4}}"></td> -->
      <td class="td text-right" style="padding:0px;"><input class="input-sm form-control text-right" type="text" ng-model="row.pu4" value="{{row.pu4}}"></td>     
      <!--                      
      <td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt5" value="{{row.pt5}}"></td> 
      <td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pu5" value="{{row.pu5}}"></td>                           
      <td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt6" value="{{row.pt6}}"></td> 
      <td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pu6" value="{{row.pu6}}"></td>                           
      <td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pt7" value="{{row.pt7}}"></td> 
      <td class="text-right"><input class="input-sm form-control text-right" type="text" ng-model="row.pu7" value="{{row.pu7}}"></td>                                 
      -->
      <td class="text-center" colspan="3"  style="padding:0px;">        
        <button class="btn btn-danger btn-sm pull-center" ng-click="borrar(row)" title="Borrar">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>      
    </tr>
  </tbody>
  <tbody ng-show="estaCargando">
    <tr>
      <td colspan="20" class="text-center"><div class="loading-indicator"></div></td>
    </tr>
  </tbody>
  <tbody ng-show="articulos.length == 0 && !estaCargando">
    <tr>
      <td colspan="20" class="text-center"><p>No se han encontrado resultados</p></td>
    </tr>
  </tbody>
  <tfoot>                        
    <tr>                 
      <td colspan="20" class="text-center">
        <div st-template="views/pagination.html" st-pagination="" st-items-by-page="itemsByPage"></div>
      </td>
    </tr>
  </tfoot>
</table> 

</div>